/* APP MAIN STYLE */

/* GENERAL STYLE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

main {
  background: #1c1c1c;
  flex-grow: 1;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.main-header {
  padding: 1rem 0;
}

.main-header .container {
  display: flex;
  align-items: center;
}

.main-header ul {
  list-style: none;
  display: flex;
}

.main-header ul a {
  margin-left: 70px;
  font-weight: 700;
  color: #1c1c1c;
}

.main-header ul a.active {
  position: relative;
  color: #097cea;
}

.main-header ul a.active::after {
  position: absolute;
  left: 50%;
  top: 420%;
  transform: translateX(-50%);
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #097cea;
}

.comics .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 50px;
}

.cards .card {
  width: calc(100% / 6);
  margin-bottom: 50px;
  cursor: pointer;
}

.cards .card .title {
  margin-top: 20px;
  font-size: 14px;
  color: #fff;
}

button {
  margin-bottom: 2rem;
  border: none;
  padding: 1rem 4rem;
  text-align: center;
  color: #fff;
  background-color: #097cea;
  cursor: pointer;
}

.news {
  padding: 50px 0;
  color: #fff;
}

.news h2 {
  color: #097cea;
  padding-bottom: 1rem;
}

.news p {
  margin: 1rem 0;
}

footer {
  border-top: 20px solid #097cea;
  background: #303030;
  padding: 25px 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .sign-up {
  padding: 1rem;
  border: 2px solid #097cea;
}

footer .sign-up a {
  color: #fff;
}

footer .social {
  display: flex;
  align-items: center;
  list-style: none;
}

footer .social li {
  margin-left: 30px;
}

footer .social li:first-child {
  margin-left: 0;
  font-weight: 700;
  color: #097cea;
}

