// HEADER

.main-header {
    padding: 1rem 0;
    .container {
        display: flex;
        align-items: center;
    }
    ul {
        list-style: none;
        display: flex;
        a {
            margin-left: 70px;
            font-weight: 700;
            color: $sec-col;
            &.active {
                position: relative;
                color: $main-col;
                &::after {
                    position: absolute;
                    left: 50%;
                    top: 420%;
                    transform: translateX(-50%);
                    content: "";
                    display: block;
                    width: 100%;
                    height: 3px;
                    background-color: $main-col;
                }
            }
        }
    }
}
